### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
.DS_Store
.claude

/target/
*.profraw
test_output.log

.vscode/*
!.vscode/settings.json
*.code-workspace
.internal
prompt.dbg.txt

# .lldb debug alias
.lldbinit
megalinter-reports/
examples/**/*/mockql
examples/**/*.tape
mdbook/book
